    @import 'modules/all';
* {
    box-sizing: border-box;
}

body {
    font-size: 3vw;
    background-color: $contrast-color;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    @include firstBreakpoint {
        font-size: 2vw;
    }
    @include thirdBreakpoint {
        font-size: 1.5vw;
    }
    @include fourthBreakpoint{
        font-size: 20px;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.row {
    &::after,
    &::before {
        display: table;
        content: '';
        clear: both;
    }
}

$columnsCount: 6;
@for $i from 1 through $columnsCount {
    .col-#{$i} {
        width: (100%/$columnsCount)*$i;
    }
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    //  border: 1px solid red;
    padding: 10px;
    @media (max-width: #{$firstBreakpoint-width}) {
        float: none;
        width: 100%;
    }
}

section{
    @include thirdBreakpoint{
        min-height: 100vh;
    }
    @include fourthBreakpoint{
        max-height: 670px;
    }
}

#first {
    min-height: 100vh;
}

#second,
#fourth {
    background-color: $main-color;
    color: $contrast-color;
}

#third {
    color: $main-color;
}

h1 {
    text-align: center;
    font-size: 1.3em;
    padding: 1em 0;
    &:after {
        content: '';
        border: 1px solid $accent-color;
        display: block;
        width: 8%;
        margin: 0 auto;
    }
}

.img {
    border: 1px solid red;
    height: 300px;
    width: 250px;
    float: right;
    display: none;
    margin: 10px;
    @include firstBreakpoint {
        display: inline-block;
    }
}

h2 {
    font-size: 1.1em;//poprawić 
    &:after {
        content: '';
        border: 1px solid $accent-color;
        display: block;
        width: 50%;
    }
}

.contact span{
    line-height: 40px;
}

.map{
    height: 450px;
      iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        }
}

.hidden{
    display: none;
}