@import 'modules/all';

header{
    background-image: url('../img/marble-columns-1214427-1598x1184-mobile.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include thirdBreakpoint{
       background-image: url('../img/marble-columns-1214427-1598x1184.jpg');
        background-position: left;
    }

    h1{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        color: #0b1d33;
        line-height: 1.5em;
        text-shadow: $contrast-color 1px 1px 25px;
    }
}

.top{
    background-color: $contrast-color;
    color: $main-color;
    -webkit-box-shadow: 0 8px 6px -6px $main-color;
    -moz-box-shadow: 0 8px 6px -6px $main-color;
    box-shadow: 0 8px 6px -6px $main-color;
    a{
      text-decoration: none;
      text-transform: uppercase;
    }
    @include firstBreakpoint{
        width: 100%;
        position: fixed;
    }
}

nav {
    background-color: $contrast-color;
    &.mobile-menu{
        -webkit-box-shadow: 0 8px 6px -6px $main-color;
        -moz-box-shadow: 0 8px 6px -6px $main-color;
        box-shadow: 0 8px 6px -6px $main-color;
        top:0;
        position: fixed;
    }
    ul{
        text-align: center;
    }
    li{
        display: inline-block;
        padding: 0.5em 1em;
        @include firstBreakpoint{
             font-size: 1.3em;
        }
        @media (min-width:920px){
            font-size: 25px;
        }
    }
    a{
        color: $main-color;
        @include thirdBreakpoint{
            &:hover{
                color: $base-color;
            }
        }
    }
}

.active{
    color: $accent-color;
}

.logo{
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 2em;
    a{
      color: $main-color;
    }
    &:after{
        content: '';
        border: 1px solid $accent-color;
        display: block;
        width: 31px;
        margin: 0 auto;
    }
}

.big-logo{
    margin: 0 auto;
    margin-top: 25%;
    color: #0b1d33;
    font-size: 5em;
    margin-bottom: 35px;
    text-shadow: $contrast-color 1px 1px 40px;
    &:after{
        width: 1em;
    }
}
