@import 'modules/all';

header{
    background-image: url('../img/background-court-building.jpg');//wstawić rysunek o mniejszej rozdzielczości
    background-size: cover;
       min-height: 100vh; 
    background-repeat: no-repeat;
    
    @include firstBreakpoint{
       background-image: url('../img/background_temida.jpg');
    } 
    span{
        display: block;
        margin-top: 30%;//ustawić przy docelowym tle
        font-size: 2em;
        font-style: italic;
    }
}

.top{
    background-color: $background-color;
    color: $main-color;
    -webkit-box-shadow: 0 8px 6px -6px $main-color;
    -moz-box-shadow: 0 8px 6px -6px $main-color;
    box-shadow: 0 8px 6px -6px $main-color;
    @include firstBreakpoint{
        width: 100%;
        position: fixed;
    }

}

nav {
    background-color: $background-color;
    ul{
        text-align: center;
    }
    li{
        display: inline-block;
        padding: 0.5em 1em;
        font-weight: 600;
        @include firstBreakpoint{
             font-size: 1.3em; 
        }
        @include fourthBreakpoint{
            padding-right: 0;
        }
    }
    a{
        text-decoration: none;
        color: $main-color;
        &:hover{
            color: $base-color;
        }
    }
}

.active{
    color: $accent-color;
}

.logo{
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 2em;
    &:after{
        content: '';
        border: 1px solid $accent-color;
        display: block;
        width: 31px;
        margin: 0 auto;
    }
}