@import 'modules/all';

header{
    background-image: url('../img/background_temida.jpg');//wstawić rysunek o mniejszej rozdzielczości
    background-size: cover;
       min-height: 100vh; 
    background-repeat: no-repeat;
    
    @include firstBreakpoint{
       background-image: url('../img/background_temida.jpg');
    } 
    span{
//        font-size: 4rem;
    }
}

.top{
    background-color: $background-color;
    color: $main-color;
}

nav {
    ul{
        float: right;
    }
    li{
        display: inline-block;
//        padding: 0 2rem;
//        font-size: 1.2rem;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: $main-color;
        &:hover{
            color: $base-color;
        }
    }
}

.logo{
    font-family: 'Tangerine', cursive;
    text-align: center;
    &:after{
        content: '';
        border: 1px solid $accent-color;
        display: block;
        width: 31px;
        margin: 0 auto;
    }
//    font-size: 4rem;
}